@import url(reset.css);
:root {
  --color-blue: #124B91;
  --color-green: #6AD727;
  --color-black: #000000;
   --color-white: #FFFFFF;
  --color-beige: #FEF9EF;

  /*font sizes mobile*/
    --font-size-h1:  clamp(1.7rem, calc(1.5rem + 1.75vh), 6rem);
    --font-size-intro:  clamp(1.375rem, calc(1.1rem + 1.25vh), 4rem);
    --font-size-h2: 2rem;
    --fontsize-h2-span: 3rem;
    --font-size-h3: 1.5rem;
    --fontsize-h3-span: 3rem;
    --font-size-h4: 1.25rem;
    --font-size-p: 1rem;
    --font-size-button: 0.75rem;

}


body{
    background-color: var(--color-beige);
    overflow-x: hidden;
    color: red;
}

h1,
h2,
h3,
h4{
font-family: bc-novatica-cyr, sans-serif;
font-weight: 700;
font-style: normal;
}

header{
    display: flex;
  flex-direction: column-reverse;
  height: 100vh;
}
h1{
color: var(--color-blue);
font-size: var(--font-size-h1);
max-width: 30%;
margin-left: 45%;
line-height: 1.1;
}
.headerImage{
 width: 100vw;
 height: auto;
 margin-top: -9%;
}

.navLogo{
 max-width: 7%;
 height: auto;
    margin: 3% 0 2vh 5%;
}
.headerIntro{
    font-family: bc-novatica-cyr, sans-serif;
font-weight: 600;
font-style: normal;
font-size: var(--font-size-intro);
color: #124B91;
word-spacing: 100vw;
margin: -13% 0% 0% 3%;
}
.menu{
    display: none;
}





