@import url(reset.css);
:root {
  --color-blue: #124B91;
  --color-green: #6AD727;
  --color-black: #000000;
   --color-white: #FFFFFF;
  --color-beige: #FEF9EF;

  /*font sizes mobile*/
    --font-size-h1:  clamp(1.7rem, calc(1rem + 3vh), 6rem);
    --font-size-intro:  clamp(1.375rem, calc(0.7rem + 3.25vw), 4rem);
    --font-size-h2: 2rem;
    --fontsize-h2-span: 3rem;
    --font-size-h3: 1.5rem;
    --fontsize-h3-span: 3rem;
    --font-size-h4: 1.25rem;
    --font-size-p: 1rem;
    --font-size-button: 0.75rem;

}


body{
    background-color: var(--color-beige);
    overflow-x: hidden;
    color: red;
}

h1,
h2,
h3,
h4{
font-family: bc-novatica-cyr, sans-serif;
font-weight: 700;
font-style: normal;
}

header{
    display: flex;
  flex-direction: column-reverse;
}

.headerContent{
    width: 100vw;
    height: 80vh;
    margin-bottom: 10vh;
}
h1{
color: var(--color-blue);
font-size: var(--font-size-h1);
white-space: pre-line;
line-height: 1.05;
margin: 0 2vw 0 43vw;
max-width: 55vw;
}
.headerImage{
 width: 100vw;
 height: 57.5vh;
 margin: -9% auto 0;
}

.navLogo{
 max-width: 8vw;
 height: auto;
margin: 3vh 0 2vh 3vh;
}
.headerIntro{
    font-family: bc-novatica-cyr, sans-serif;
font-weight: 600;
font-style: normal;
font-size: var(--font-size-intro);
color: #124B91;
word-spacing: 100vw;
margin: -4vh 0 0 3vh;
}
.menu{
    display: none;
}





